#SuperArticlesPage{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-color: #e5e7eb;
}
#SuperArticlesPage .LoadingScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.354);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#SuperArticlesPage .LoadingScreen.disabled{
    display: none;
}
#SuperArticlesPage .LoadingScreen .loadingCircle{
    width: 70px;
    height: 70px;
    border: 7px white dashed;
    border-radius: 100%;
    /* background-color: red; */
}

@media (prefers-reduced-motion: no-preference) {
    #SuperArticlesPage .LoadingScreen .loadingCircle {
      animation: App-logo-spin infinite 20s linear;
    }
  }
#ArticlesSearchFilters{
    background-color: white;
    width: 72%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 375px;
    box-shadow: 0px 0px 10px rgba(149, 149, 149, 0.286);

}
#ArticlesSearchFilters p{
    margin-left: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 0px
}
#ArticlesSearchFilters .row{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#ArticlesSearchFilters input{
    flex-basis: 80%;
    margin: 0px;
    margin-right:  0.2%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid gray;
}
#ArticlesSearchFilters .categories{
    flex-basis: 20%;
    border-radius: 5px;
    background-color: white;
    border:1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px 0.2%;
    position: relative;

}
#ArticlesSearchFilters .categories .arrowIcon{
    transition: 0.3s;
}

#ArticlesSearchFilters .categories .CategoryOptionsDropList{
    /* display: none; */
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    z-index: 9999;
    height: max-content;
    overflow: hidden;
    transition: 0.3s;
    height: 0px;
    
    box-shadow: 0px 5px 10px rgb(112, 112, 112);
     /* rgba(149, 149, 149, 0.286); */
}
#ArticlesSearchFilters .categories .categoryOption{
    padding: 10px;
    margin: 3PX;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#ArticlesSearchFilters .categories .categoryOption:hover{
    background-color: rgb(215, 215, 215);

}
#ArticlesSearchFilters .categories .categoryOption.activeCategory{
    background-color: rgb(159, 159, 159);

}
#ArticlesSearchFilters .searchButton{
    flex-basis: 5%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin: 0px 0.2%;
    background-color: #0a808e;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

#ArticlesSearchFilters .searchButton:hover{
    background-color: #0db2c4;

}

#AdminArticlesFeed .NoArticlesToDisplay{
    color: rgba(128, 128, 128, 0.395);
    font-weight: bolder;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

#AdminArticlesFeed .noMoreArticles{
    color: rgba(128, 128, 128, 0.395);
    font-weight: bolder;
}