.PostBox{
    background-color: white;
    width: 75%;
    padding-bottom: 0;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    min-height: max-content;
    box-sizing: border-box;
    min-width: 370px;
    transition: all 0.3s ease;
    border: 1px solid #f0f0f0;
}

.PostBox:hover{
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.PostBox .PostHeader{
    display: flex;
    flex-direction: row;
    padding: 1%;

}
.PostBox .PostHeader .UserPic{
    width: 100px;
    position: relative;
}
.PostBox .PostHeader .UserPic img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.anonymous{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 40px;
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    /* align-items: center; */
    /* background-color: red; */
}
.PostBox .PostHeader .UserPic .profileLink{
    /* display: none; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.PostBox .PostHeader .NameAndDateAndData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
}
.PostBox .PostHeader .NameAndDateAndData .left{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}
.PostBox .PostHeader .NameAndDateAndData .left p{
    margin: 0px;
}

.PostBox .PostHeader .AIRate .rateGreen{
    color: green;
}
.PostBox .PostHeader .AIRate .rateYellow{
    color: rgb(176, 176, 0);
}
.PostBox .PostHeader .AIRate .rateRed{
    color: red;
}

.PostBox .PostHeader .NameAndDateAndData .Tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.PostBox .PostHeader .NameAndDateAndData .Tags .Community{
    background-color:#0096a6 ;

    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    width: 100%;
}
.PostBox .PostHeader .NameAndDateAndData .Tags  .Report{
    background-color:#ff7b7b ;

    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    width: 100%;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
    transition: 0.1s;
}
.PostBox:hover .PostHeader .NameAndDateAndData .Tags  .Report{
    opacity: 1;
}
.PostBox .PostBody{
    text-align: left;
    padding: 1%;

}
.PostBox .PostImageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    width: 100%;
}

.PostBox .PostImageContainer img{
    max-width: 23%;
    margin: 1%;
}

.PostImageContainer::-webkit-scrollbar {
    height:  10px; /* Set the width of the scrollbar */
}

.PostImageContainer::-webkit-scrollbar-thumb {
background-color: rgb(137, 137, 137); /* Set the background color of the thumb */
border-radius: 20px; /* Set the border radius of the thumb */
}

.PostImageContainer::-webkit-scrollbar-track {
background-color: transparent; /* Set the background color of the track */
}

.PostImageContainer::-webkit-scrollbar-thumb:hover {
background-color: rgb(194, 194, 194);; /* Set a different color on hover if desired */
}

.PostBox .PostCommentSection{
    padding: 0px 20px;
}






.PostBox .PostReactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    box-shadow:0px -6px 6px 0px #f1f1f1;
    padding: 10px 0px;
}

.PostBox .PostReactions span{
    /* display: flex; */
    /* flex-direction: row; */
    margin:0px 10px;
    font-size: 19px;
}


.PostBox .PostCommentsButtons{
    overflow: hidden;
    width: 104%;
    margin-left: -2%;
    transition: 0.5s;
    cursor: pointer;
}
.PostBox .PostCommentsButtons:hover.enabled{
    background-color: rgb(234, 234, 234);

}
.PostBox .PostCommentsButtons.disabled{
    cursor: default;
}



.ReportPopupWindow{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ReportPopupWindow .backgroundBlock{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(86, 86, 86, 0.189);
    z-index: 5;

}
.ReportPopupWindow .ReportForm{
    background-color: white;
    border-radius: 20px;
    width: 480px;
    min-width: 390px;
    min-height: 200px;
    z-index: 9;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family:sans-serif ;
    position: relative;
    top: 100%;
    transition: 0.5s;

}
.ReportPopupWindow .ReportForm .TitleReport{
    font-size: 30px;
}

.ReportPopupWindow .ReportForm .ForNextPost{
    font-size: 20px;
    margin-bottom: 0px;

}
.ReportPopupWindow .ReportForm .ReportMainPostText{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ReportPopupWindow .ReportForm .ReportTagOptions{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag{
    background-color: #eeeeee;
    color: gray;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag:hover{
    background-color: #cecdcd;
    /* color: white; */

}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag.selected{
    background-color: #fbcbcb;
    color: #ff1919;
}
.ReportPopupWindow .ReportForm .submutReportButton{
    background-color: #079eb0;
    color: white;
    border: none;
    font-size: 25px;
    padding: 20px;
    border-radius: 100px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}   
.ReportPopupWindow .ReportForm .submutReportButton:hover{
    background-color: #026671;

}

.ReportPopupWindow .ReportForm .ReasonInputForm{
    transition: 0.5s;
    display: none;

}
.ReportPopupWindow .ReportForm .ReasonInputForm.show{
    display: block;
}
.ReportPopupWindow .ReportForm .ReasonInputForm input{  
    width: 96%;
    min-height: 40px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 15px;
    padding: 1% 2%;
}
.ReportPopupWindow .ReportForm .ErrorMessage{
    color: red;
    text-align: center;
    margin-bottom: 0px;
    display: none;
}
.ReportPopupWindow .ReportForm .ErrorMessage.show{
    display: block;
}

.PostBox .GrayText{
    color: gray;
}