.ArticleBox{
    background-color: rgb(246, 246, 246);
    /* box-shadow: -5px 5px 5px gray; */
    width: 75%;
    padding: 20px;
    padding-bottom: 0;
    margin: 1% auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(149, 149, 149, 0.286);
    overflow: hidden;
    min-height: max-content;
    box-sizing: border-box;
    min-width: 370px;
    transition: 0.5s;
    
}
@media (max-width:1530px) {
    .ArticleBox{
        width: 80%;

    }
}
@media (max-width:440px) {
    .ArticleBox{
        width: 95%;

    }
}
.ArticleBox .ArticleHeader{
    display: flex;
    flex-direction: row;
    padding: 1%;

}
.ArticleBox .ArticleHeader .UserPic{
    width: 100px;
    position: relative;
}
.ArticleBox .ArticleHeader .UserPic img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.anonymous{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 40px;
    display: flex; 
    justify-content: center;
    padding-top: 10px;
    /* align-items: center; */
    /* background-color: red; */
}
.ArticleBox .ArticleHeader .UserPic .profileLink{
    /* display: none; */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.ArticleBox .ArticleHeader .NameAndDateAndData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* align-items: center; */
}
.ArticleBox .ArticleHeader .NameAndDateAndData .left{
    text-align: left;
    padding-left: 10px;
    padding-top: 15px;
}
.ArticleBox .ArticleHeader .NameAndDateAndData .left p{
    margin: 0px;
}

.ArticleBox .ArticleHeader .AIRate .rateGreen{
    color: green;
}
.ArticleBox .ArticleHeader .AIRate .rateYellow{
    color: rgb(176, 176, 0);
}
.ArticleBox .ArticleHeader .AIRate .rateRed{
    color: red;
}

.ArticleBox .ArticleHeader .NameAndDateAndData .Tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.ArticleBox .ArticleHeader .NameAndDateAndData .Tags .Community{
    background-color:#0096a6 ;

    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    width: 100%;
}

.ArticleBox .ArticleHeader .NameAndDateAndData .Tags  .Report,
.ArticleBox .ArticleHeader .NameAndDateAndData .Tags .Accept{
    background-color:#ff7b7b ;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    width: 100%;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
    transition: 0.1s;
}
.ArticleBox .ArticleHeader .NameAndDateAndData .Tags  .Accept{
    background-color:#6fea74 ;

}
.ArticleBox:hover .ArticleHeader .NameAndDateAndData .Tags  .Report,
.ArticleBox:hover .ArticleHeader .NameAndDateAndData .Tags  .Accept{
    opacity: 1;
}

.ArticleBox .ArticleBody{
    text-align: left;
    padding: 1% 2%;
    transition: 0.5s;
    overflow: hidden;
    /* height: 400px; */


}
.ArticleBox .ArticleBody .CoverImage{

    overflow: hidden;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ArticleBox .ArticleBody .CoverImage.notShown{
    display: none;
}
.ArticleBox .ArticleBody .CoverImage img{
    /* height: 100%; */
    width: auto;
}
.ArticleBox .ArticleImageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    width: 100%;
}

.ArticleBox .ArticleImageContainer img{
    max-width: 23%;
    margin: 1%;
}

.ArticleImageContainer::-webkit-scrollbar {
    height:  10px; /* Set the width of the scrollbar */
}

.ArticleImageContainer::-webkit-scrollbar-thumb {
background-color: rgb(137, 137, 137); /* Set the background color of the thumb */
border-radius: 20px; /* Set the border radius of the thumb */
}

.ArticleImageContainer::-webkit-scrollbar-track {
background-color: transparent; /* Set the background color of the track */
}

.ArticleImageContainer::-webkit-scrollbar-thumb:hover {
background-color: rgb(194, 194, 194);; /* Set a different color on hover if desired */
}

.ArticleBox .ArticleCommentSection{
    padding: 0px 20px;
}






.ArticleBox .ArticleReactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    box-shadow:0px -6px 6px 0px #f1f1f1;
    padding: 10px 0px;
}

.ArticleBox .ArticleReactions span{
    /* display: flex; */
    /* flex-direction: row; */
    margin:0px 10px;
    font-size: 19px;
}


.ArticleBox .ArticleReadmoreButtons{
    overflow: hidden;
    width: 104%;
    margin-left: -2%;
    transition: 0.5s;
    cursor: pointer;

}
.ArticleBox .ArticleReadmoreButtons:hover{
    background-color: rgb(234, 234, 234);

}
.ArticleBox .ArticleReadmoreButtons a{
    text-decoration: none;
    color: black;
    padding: 16px 0px;
    display: block;
}
.ArticleBox .ArticleReadmoreButtons a p{
    margin: 0;
}
.ReportPopupWindow{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ReportPopupWindow .backgroundBlock{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(86, 86, 86, 0.189);
    z-index: 5;

}
.ReportPopupWindow .ReportForm{
    background-color: white;
    border-radius: 20px;
    width: 480px;
    min-width: 390px;
    min-height: 200px;
    z-index: 9;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family:sans-serif ;
    position: relative;
    top: 100%;
    transition: 0.5s;

}
.ReportPopupWindow .ReportForm .TitleReport{
    font-size: 30px;
}

.ReportPopupWindow .ReportForm .ForNextArticle{
    font-size: 20px;
    margin-bottom: 0px;

}
.ReportPopupWindow .ReportForm .ReportMainArticleText{
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ReportPopupWindow .ReportForm .ReportTagOptions{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag{
    background-color: #eeeeee;
    color: gray;
    padding: 15px;
    margin: 5px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag:hover{
    background-color: #cecdcd;
    /* color: white; */

}
.ReportPopupWindow .ReportForm .ReportTagOptions .ReportTag.selected{
    background-color: #fbcbcb;
    color: #ff1919;
}
.ReportPopupWindow .ReportForm .submutReportButton{
    background-color: #079eb0;
    color: white;
    border: none;
    font-size: 25px;
    padding: 20px;
    border-radius: 100px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}   
.ReportPopupWindow .ReportForm .submutReportButton:hover{
    background-color: #026671;

}

.ReportPopupWindow .ReportForm .ReasonInputForm{
    transition: 0.5s;
    display: none;

}
.ReportPopupWindow .ReportForm .ReasonInputForm.show{
    display: block;
}
.ReportPopupWindow .ReportForm .ReasonInputForm input{  
    width: 96%;
    min-height: 40px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 15px;
    padding: 1% 2%;
}
.ReportPopupWindow .ReportForm .ErrorMessage{
    color: red;
    text-align: center;
    margin-bottom: 0px;
    display: none;
}
.ReportPopupWindow .ReportForm .ErrorMessage.show{
    display: block;
}

.ArticleBox .GrayText{
    color: gray;
}