#UserProfile{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#UserProfile #UserMain{
    background-color: #E5E7EB;
    height: 96vh;
    padding-top: 4vh;
    flex-grow: 1;
    flex-basis: 30%;
    min-width: 300px;
}
#UserProfile #UserMain .ProfileImage{
    width: 200px;
    border-radius: 20px;
    margin: auto;
}
#UserProfile #UserMain  .textMain{
    text-align: center;
    margin: auto;
    width: max-content;

}
#UserProfile #UserData{
    height: 96vh;
    padding-top: 4vh;
    flex-grow: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
    overflow-y: auto;
}
#UserProfile #UserData .DataSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#UserProfile #UserData .DataSection .DataTitle{
    margin-bottom: 0px;
}
#UserProfile #UserData .DataSection hr{
    width: 10%;
    margin-left: 0px;
    border:3px solid gray
}

#UserProfile #UserData .DataSection .DataEntry{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    text-wrap: nowrap;
    overflow: auto;
}

#UserProfile #UserData .DataSection .DataEntry .key{
    font-weight: bolder;
}
#UserProfile #UserData .DataSection .DataEntry .card{
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 10px ;
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgb(221, 221, 221);
    margin: 10px;
    transition: 0.2s;
}
#UserProfile #UserData .DataSection .DataEntry .card:hover{
    box-shadow: -5px 5px 5px gray;
}

#UserProfile #UserData .DataSection .commentKey{
    color: gray;
}
#UserProfile #UserData .DataSection .drName{
    color: gray;
}
.mainInfo{
    text-align: left;
    font-weight: bolder;
}
.mainInfo span{
    font-weight: 300;
}

.mainInfo .doctorStatus{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
}
.mainInfo .doctorStatus.online{
    background-color: rgb(74, 255, 74);
}
.mainInfo .doctorStatus.offline{
    background-color: gray;
}
@media (max-width: 1000px) {
    #UserProfile{
        flex-direction: column;
    }
    #UserProfile #UserMain{
        border-radius: 0px 0px 20px 20px;
        text-align: center;
        height: auto;
    
    }
    #UserProfile #UserMain .textMain{
        text-align: center;
    }

    #UserProfile #UserData{
        /* width: 100%; */
        flex-basis: 100%;
        height: auto;
        overflow:inherit;
    }
    #UserProfile #UserData .DataSection .DataEntry{
        width: 70%;
    }
}