.sideNav{
    width: max-content;
    height: 96vh;
    background: linear-gradient(180deg, #0a808e 0%, #085d68 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-weight: bolder;
    padding: 2vh 0px;
    position: relative;
    transition: 0.3s;
    z-index: 999;
    left: 0;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.1);
}
@media (max-width:500px) {
    .sideNav{
        zoom: 0.95;
    }
}
.sideNav .backgroundBlock{
    display: none;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.324);
    z-index: -99;

}

@media (max-width: 1090px) {
    .sideNav{
        overflow: hidden;
        position: fixed;
        left: -100%;
        height: 96%;
        /* width: 230px; */
    }
    
}

.sideNav .top{
    flex-grow: 1;
}
.sideNav .top .welcome .logoimage{
    width: 30px;
    height: 30px;
    margin:0px 5px;
}
.sideNav .top .welcome{
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 30px;
    text-wrap: nowrap;
    padding: 0px 10px;
}
@media (max-width:500px) {
    .sideNav .top .welcome{
        zoom: 0.8;
    }
}
.sideNav .center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 3;
    position: relative;
}
.sideNav .backgroundActive{
    position: absolute;
    height: 50px;
    width: 210px;
    background-color: white;
    border-radius: 30px;
    margin: 0px 50px;
    /* top:217px; */
    transition: 0.5s;

}
.sideNav .center div{
    margin: 0px 50px;
    text-align: left;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;  
}
.sideNav .center .navButton{
    cursor: pointer;
}
.sideNav .center .navButton .route{
    display: none;
}
.sideNav .center .navButton svg{
    margin: 0px 15px;
    font-size: 20px;
}
.sideNav .center .navButton p{
    text-wrap: nowrap;
}
.sideNav .center .activeNavButton{
    /* background-color: white; */
    color: black;
    border-radius: 30px;
}
.sideNav .center .activeNavButton svg{
    color: #3d5ef0;
    color:#046570;

}

/* Sub Navigation Items */
.sideNav .center .subMenuSection{
    margin: 0 !important;
    padding: 0 !important;
}

.sideNav .center .subNavItem{
    margin: 5px 50px 5px 70px !important;
    font-size: 14px;
    padding: 8px 15px !important;
    opacity: 0.9;
    transition: 0.3s;
}

.sideNav .center .subNavItem:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.sideNav .center .subNavItem svg{
    font-size: 16px !important;
    margin: 0px 10px !important;
}

.sideNav .center .subNavItem p{
    font-size: 14px;
    font-weight: 500;
}

.sideNav .bottom{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.sideNav .bottom a{
    text-decoration: none;
}
.sideNav .bottom .reportIssuText{
    width: 75%;
    background-color:white;
    color: black;
    border-radius: 10px;
    font-weight: 300;
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: 7%;
    left: 5%;
    transition: 0.5s;
    display: none;
}
.sideNav .bottom .reportIssu{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #3d5ef0;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    margin: 0px 50px;
}
.sideNav .bottom .reportIssu:hover {
    background-color: #6b83ed;
}

.sideNav .bottom .reportIssu:hover .reportIssuText{
    display: block;
}

.sideNav .bottom .logoutButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 30px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.478);
    color: rgb(0, 0, 0);
}
.sideNav .bottom .logoutButton svg{
    color: #0a808e;
}
.sideNav .bottom .logoutButton p{
    margin-left: 20px;
}

.sideMinu{
    align-items: center;
    /* border-bottom: 1px solid black; */
    text-align: start;
    background-color: transparent;
    position: absolute;
}
.sideMinu svg{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #ffffff2e;
    margin: 0px 10px;
    border: 1px solid black;
    margin: 5px;
    display: none;
    
}
@media (max-width:1090px) {
    .sideMinu svg{
        display: block;
    }
}